    <div class="card-content">
        <div class="card-img">
            <img src="https://placeimg.com/380/230/tech" alt="">
            <span>
                <h4>{{destino.nombre}}</h4>
            </span>
        </div>
        <div class="card-desc">
            <h3>Autor: {{destino.nombre}}</h3>
            <p>There's a lady who's sure
                All that glitters is gold
                And she's buying a stairway to Heaven
                When she gets there she knows
                If the stores are all closed
                With a word she can get what she came for
                Oh oh oh oh and she's buying a stairway to Heaven</p>
            <a href="#" class="btn-card">Escuchar</a>
        </div>
    </div>